// ### Primary
$color-blue: hsl(223, 87%, 63%);

// ### Secondary
$color-pale-blue: hsl(223, 100%, 88%);
$color-light-red: hsl(354, 100%, 66%);

// ### Neutral
$color-gray: hsl(0, 0%, 59%);
$color-gray-light: hsl(0, 3%, 80%);
$color-very-dark-blue: hsl(209, 33%, 12%);
$color-white: white;
